@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  background: #eee;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
}

.ten-percent {
  width: 10%;
}

.twenty-percent {
  width: 20%;
}

.thirty-percent {
  width: 30%;
}

.forty-percent {
  width: 40%;
}

.fifty-percent {
  width: 50%;
}

.sixty-percent {
  width: 60%;
}

.seventy-percent {
  width: 70%;
}

.eighty-percent {
  width: 80%;
}

.ninety-percent {
  width: 90%;
}

.hundred-percent {
  width: 100%;
}

header {
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}

header .container img {
  width: 20%;
}

header .container ul {
  display: flex;
}

header .container ul li {
  list-style-type: none;
  margin: 0 10px;
}

header .container ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #4a2343;
}

header .container .btn {
  background: #592a51;
  padding: 8px 12px;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

header .container .btn:hover {
  filter: scale 1.2, 1.2;
}

.iam {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.iam .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
}

.iam .me {
  margin-top: 50%;
  transform: translateY(-50%);
}

.iam .me p {
  font-size: 1.5em;
}

.iam .me p span {
  font-weight: bold;
}

.iam .me .name {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
}

.iam .banner img {
  width: 70%;
}

.about {
  height: 70vh;
  background: #592a51;
  padding: 30px;
}

.about .row-2-mixed {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  position: relative;
}

.about .image {
  width: 100%;
  height: 100%;
}

.about .image img {
  max-width: 100%;
  width: 200px;
  border-radius: 50%;
  position: sticky;
  top: 10;
}

.about .about-txt h3 {
  font-size: 2.2em;
  color: #34A447;
}

.about .about-txt p {
  font-size: 1.2em;
  color: white;
}

.about .icon {
  margin-top: 25px;
  display: block;
}

.about .icon i {
  color: #eee;
  font-size: 20px;
  margin: 0 10px;
  transition: all ease .5s;
}

.about .icon i:hover {
  color: #34A447;
  transform: scale(1.2, 1.2);
}

.about .btn {
  cursor: pointer;
  margin: 20px 0;
  background: #34A447;
  color: white;
  padding: 8px 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
}

.about .btn i {
  margin-right: 10px;
}

.skills {
  padding: 30px;
  margin-bottom: 30px;
}

.skills h2 {
  font-size: 2.2em;
  text-align: center;
  border-bottom: 2px solid #592a51;
  color: #4a2343;
  padding-bottom: 5px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.skills p {
  text-align: center;
  font-size: 1.2em;
  color: #4a2343;
}

.skills .skillset {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.skills .skillset .skillset-item {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #592a51;
  transition: all ease-in-out .5s;
}

.skills .skillset .skillset-item:hover {
  transform: scale(1.1, 1.1);
}

.skills .skillset .skillset-item img {
  width: 50%;
}

.skills .skillset .skillset-item h3 {
  text-transform: uppercase;
  margin: 5px 0;
  color: #4a2343;
}

.skills .skillset .skillset-item .range-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #34A447;
}

.skills .skillset .skillset-item .range-bar .range {
  height: 100%;
  background: #34A447;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  background: #592a51;
  padding: 30px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form label {
  color: white;
  font-size: 1.3em;
  border-bottom: 2px solid #34A447;
  width: 10%;
}

footer form input, footer form textarea {
  outline: none;
  border: none;
  width: 70%;
  margin: 20px 0;
  padding: 10px;
  font-size: 1em;
  border-radius: 3px;
  background: #eee;
}

footer form .btn {
  background: #34A447;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}

footer .footer-head {
  text-align: center;
  color: white;
  border-bottom: 2px solid #34A447;
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.3em;
}

footer .main-footer {
  display: flex;
}

footer .main-footer .address, footer .main-footer .contact-info, footer .main-footer .socials {
  margin: 30px 30px;
}

footer .main-footer .address h3, footer .main-footer .contact-info h3, footer .main-footer .socials h3 {
  color: #34A447;
  font-size: 1.5em;
}

footer .main-footer .address p, footer .main-footer .contact-info p, footer .main-footer .socials p {
  color: white;
  font-size: 1.2em;
}

footer .main-footer .socials .icon {
  margin-top: 10px;
  display: block;
}

footer .main-footer .socials .icon i {
  color: #eee;
  font-size: 20px;
  margin: 0 10px;
  transition: all ease .5s;
}

footer .main-footer .socials .icon i:hover {
  color: #34A447;
  transform: scale(1.2, 1.2);
}

footer .copy {
  margin-top: 30px;
  text-align: center;
  color: #eee;
  text-transform: capitalize;
}

@media (max-width: 1100px) {
  .iam {
    margin-bottom: 20px;
    height: 100vh;
  }
  .iam .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  .iam .me p {
    font-size: 1.8em;
  }
  .iam .me p span {
    font-weight: bold;
  }
  .iam .me .name {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
  }
  .iam .banner img {
    width: 80%;
  }
  .about {
    height: 70vh;
  }
  .about .image {
    width: 100%;
    height: 100%;
  }
  .about .image img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    top: 0;
  }
  .about .about-txt h3 {
    font-size: 4em;
    color: #34A447;
  }
  .about .about-txt p {
    font-size: 2em;
    color: white;
  }
  .about .icon {
    margin: 25px 0;
    display: block;
  }
  .about .icon i {
    color: #eee;
    font-size: 40px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  .about .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  .about .btn {
    cursor: pointer;
    margin: 20px 0;
    background: #34A447;
    color: white;
    padding: 12px 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 2em;
  }
  .about .btn i {
    color: white;
    font-size: 1.2em;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
  }
  header .container img {
    width: 50%;
  }
  header .container ul {
    display: none;
  }
  header .container .btn {
    padding: 8px 12px;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    font-size: 10px;
  }
  .iam {
    margin-bottom: 20px;
    height: 100vh;
  }
  .iam .me p {
    font-size: 1.5em;
  }
  .iam .me .name {
    font-size: 2.5em;
  }
  .iam .banner img {
    width: 70%;
  }
  .about {
    height: 80vh;
  }
  .about .image {
    width: 100%;
    height: 100%;
  }
  .about .image img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    top: 0;
  }
  .about .about-txt h3 {
    font-size: 4em;
    color: #34A447;
  }
  .about .about-txt p {
    font-size: 1.6em;
    color: white;
  }
  .about .icon {
    margin: 25px 0;
    display: block;
  }
  .about .icon i {
    color: #eee;
    font-size: 40px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  .about .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  .about .btn {
    cursor: pointer;
    margin: 20px 0;
    background: #34A447;
    color: white;
    padding: 12px 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.8em;
  }
  .about .btn i {
    color: white;
    font-size: 1em;
    margin-right: 10px;
  }
  footer {
    background: #592a51;
    padding: 30px;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-head {
    text-align: center;
    color: white;
    border-bottom: 2px solid #34A447;
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
  }
  footer .main-footer {
    display: flex;
  }
  footer .main-footer .address, footer .main-footer .contact-info, footer .main-footer .socials {
    margin: 30px 30px;
  }
  footer .main-footer .address h3, footer .main-footer .contact-info h3, footer .main-footer .socials h3 {
    color: #34A447;
    font-size: 1.1em;
  }
  footer .main-footer .address p, footer .main-footer .contact-info p, footer .main-footer .socials p {
    color: white;
    font-size: 1em;
  }
  footer .main-footer .socials .icon {
    margin-top: 10px;
    display: block;
  }
  footer .main-footer .socials .icon i {
    color: #eee;
    font-size: 15px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  footer .main-footer .socials .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
}

@media (max-width: 576px) {
  .iam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .iam .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 30px;
  }
  .iam .me p {
    font-size: 1.3em;
  }
  .iam .me p span {
    font-weight: bold;
  }
  .iam .me .name {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
  }
  .iam .banner img {
    width: 60%;
    margin-top: -50px;
  }
  .about {
    height: 80vh;
    padding: 30px;
  }
  .about .row-2-mixed {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    position: relative;
  }
  .about .image img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    top: 0;
  }
  .about .about-txt h3 {
    font-size: 1.3em;
  }
  .about .about-txt p {
    font-size: 1em;
  }
  .about .icon {
    margin: 25px 0;
  }
  .about .icon i {
    color: #eee;
    font-size: 20px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  .about .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  .about .btn {
    cursor: pointer;
    margin: 20px 0;
    background: #34A447;
    color: white;
    font-size: 1em;
  }
  .skills {
    padding: 30px;
    margin-bottom: 30px;
  }
  .skills h2 {
    font-size: 1.3em;
    text-align: center;
    border-bottom: 2px solid #592a51;
    color: #4a2343;
    padding-bottom: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .skills p {
    text-align: center;
    font-size: 1.2em;
    color: #4a2343;
  }
  .skills .skillset {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
  .skills .skillset .skillset-item {
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #592a51;
    transition: all ease-in-out .5s;
  }
  .skills .skillset .skillset-item:hover {
    transform: scale(1, 1);
  }
  .skills .skillset .skillset-item img {
    width: 40%;
  }
  .skills .skillset .skillset-item h3 {
    text-transform: uppercase;
    margin: 5px 0;
    color: #4a2343;
  }
  .skills .skillset .skillset-item .range-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #34A447;
  }
  .skills .skillset .skillset-item .range-bar .range {
    height: 100%;
    background: #34A447;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .5em;
  }
  footer {
    background: #592a51;
    padding: 30px;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-head {
    text-align: center;
    color: white;
    border-bottom: 2px solid #34A447;
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: .7em;
  }
  footer .main-footer {
    display: flex;
    flex-direction: column;
  }
  footer .main-footer .address, footer .main-footer .contact-info, footer .main-footer .socials {
    margin: 30px 30px;
  }
  footer .main-footer .address h3, footer .main-footer .contact-info h3, footer .main-footer .socials h3 {
    color: #34A447;
    font-size: 1.5em;
  }
  footer .main-footer .address p, footer .main-footer .contact-info p, footer .main-footer .socials p {
    color: white;
    font-size: 1.2em;
  }
  footer .main-footer .socials .icon {
    margin-top: 10px;
    display: block;
  }
  footer .main-footer .socials .icon i {
    color: #eee;
    font-size: 20px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  footer .main-footer .socials .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  footer .copy {
    margin-top: 30px;
    text-align: center;
    color: #eee;
    text-transform: capitalize;
    font-size: .8em;
  }
}

@media (max-width: 375px) {
  .about {
    height: 100vh;
  }
  .about .row-2-mixed {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
    position: relative;
  }
  .about .image {
    width: 100%;
    height: 100%;
  }
  .about .image img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    top: 0;
  }
  .about .about-txt h3 {
    font-size: 1.5em;
    color: #34A447;
  }
  .about .about-txt p {
    font-size: 1.1em;
    color: white;
  }
  .about .icon {
    margin: 10px 0;
    display: block;
  }
  .about .icon i {
    color: #eee;
    font-size: 20px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  .about .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  .about .btn {
    margin: 8px 0;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: 1em;
  }
  .about .btn i {
    color: white;
    font-size: 1em;
    margin-right: 10px;
  }
}

@media (max-width: 325px) {
  .about {
    height: 70vh;
  }
  .about .image {
    width: 100%;
    height: 100%;
  }
  .about .image img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    top: 0;
  }
  .about .about-txt h3 {
    font-size: 1.2em;
    color: #34A447;
  }
  .about .about-txt p {
    font-size: .7em;
    color: white;
  }
  .about .icon i {
    font-size: 20px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  .about .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  .about .btn {
    margin: 8px 0;
    color: white;
    font-size: .7em;
  }
  .about .btn i {
    font-size: 1em;
  }
  .skills h2 {
    font-size: 1.3em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .skills p {
    text-align: center;
    font-size: 1.2em;
    color: #4a2343;
  }
  .skills .skillset {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
  .skills .skillset .skillset-item {
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #592a51;
    transition: all ease-in-out .5s;
  }
  .skills .skillset .skillset-item:hover {
    transform: scale(1, 1);
  }
  .skills .skillset .skillset-item img {
    width: 40%;
  }
  .skills .skillset .skillset-item h3 {
    text-transform: uppercase;
    margin: 5px 0;
    color: #4a2343;
    font-size: 1em;
  }
  .skills .skillset .skillset-item .range-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #34A447;
  }
  .skills .skillset .skillset-item .range-bar .range {
    height: 100%;
    background: #34A447;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .5em;
  }
}

@media (max-width: 280px) {
  header .btn {
    background: #592a51;
    padding: 8px;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    font-size: 9px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
  header .btn:hover {
    filter: scale 1.2, 1.2;
  }
  .iam {
    margin-bottom: 20px;
    height: 100vh;
  }
  .iam .me p {
    font-size: 1em;
  }
  .iam .me .name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .iam .banner img {
    width: 100%;
  }
  .about {
    height: 65vh;
  }
  .about .row-2-mixed {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
    position: relative;
  }
  .about .image {
    width: 100%;
    height: 100%;
  }
  .about .image img {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    top: 0;
  }
  .about .about-txt h3 {
    font-size: 1.5em;
    color: #34A447;
  }
  .about .about-txt p {
    font-size: .7em;
    color: white;
  }
  .about .icon {
    margin: 10px 0;
    display: block;
  }
  .about .icon i {
    color: #eee;
    font-size: 10px;
    margin: 0 10px;
    transition: all ease .5s;
  }
  .about .icon i:hover {
    color: #34A447;
    transform: scale(1.2, 1.2);
  }
  .about .btn {
    margin: 8px 0;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: .7em;
  }
  .about .btn i {
    color: white;
    font-size: .8em;
    margin-right: 10px;
  }
  .skills .skillset {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }
  .skills .skillset .skillset-item {
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #592a51;
    transition: all ease-in-out .5s;
  }
  .skills .skillset .skillset-item:hover {
    transform: scale(1, 1);
  }
  .skills .skillset .skillset-item img {
    width: 40%;
  }
  .skills .skillset .skillset-item h3 {
    text-transform: uppercase;
    margin: 5px 0;
    color: #4a2343;
    font-size: .8em;
  }
  .skills .skillset .skillset-item .range-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #34A447;
  }
  .skills .skillset .skillset-item .range-bar .range {
    height: 100%;
    background: #34A447;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .5em;
  }
}
